extends layout 

block styles 
  link(rel="stylesheet" href="/stylesheets/cart_style.css")

block scripts 
  script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js")
  script(src="javascripts/cart_script.js")

block content 
  mixin cell(product, id) 
    .cell
      .cell__checkbox.flex--center(data-index=id)
        img(src="../../../images/svg/check-unfill.svg", alt="")
      .cell__content
        .cell__image
          - 
            let fileName = product.productName.replace(' ', '_') + '_' + product.productColor.replace(' ', '_') + '_front.jpg';
            let path = '../../../images/glasses/' + fileName;
          img(src=path, alt="product image")
        .cell__text
          span.text--name!= product.productName
          span.text--color!= product.productColor
          span.text--price!= product.productDisCountedPrice ? product.productDisCountedPrice : product.productPrice
        .cell__delete(data-index=id)
          img(src="../../../images/svg/bx_bx-x.svg", alt="")


  .main 
    .main__top
      .top__inner
        div.top__img-wrap.top__img-wrap--check-all
          img(src="../../../images/svg/akar-icons_circle-check-fill.svg", alt="")
        div.top__img-wrap.top__img-wrap--delete-selected
          span delete selected
          img(src="../../../images/svg/fluent_delete-16-filled.svg", alt="")
    .main__body
      .body__left
        .product-list
          each data in productList 
            +cell(data.product, data.id)
        //- .product-list
          .cell
            .cell__checkbox.flex--center
              img(src="../../../images/svg/check-unfill.svg", alt="")
            .cell__content
              .cell__image
                img(src="../../../images/glasses/Chamberí_Black_noir_front.jpg", alt="product image")
              .cell__text
                span.text--name Chamberi Black Noir
                span.text--price €59
              .cell__delete
                img(src="../../../images/svg/bx_bx-x.svg", alt="")
          .cell
            .cell__checkbox.flex--center
              img(src="../../../images/svg/check-unfill.svg", alt="")
            .cell__content
              .cell__image
                img(src="../../../images/glasses/Chamberí_Black_noir_front.jpg", alt="product image")
              .cell__text
                span.text--name Chamberi Black Noir
                span.text--price €59
              .cell__delete
                img(src="../../../images/svg/bx_bx-x.svg", alt="")
          .cell
            .cell__checkbox.flex--center
              img(src="../../../images/svg/check-unfill.svg", alt="")
            .cell__content
              .cell__image
                img(src="../../../images/glasses/Chamberí_Black_noir_front.jpg", alt="product image")
              .cell__text
                span.text--name Chamberi Black Noir
                span.text--price €59
              .cell__delete
                img(src="../../../images/svg/bx_bx-x.svg", alt="")
      .body__right
        .receipt
          each data in productList 
            .row
              span.row__name!= data.product.productName + " " + data.product.productColor
              span.row__price!= data.product.productDisCountedPrice ? data.product.productDisCountedPrice : data.product.productPrice
          //- .row
          //-   span.row__name Chamberi Black Noir
          //-   span.row__price €59
          //- .row
          //-   span.row__name Chamberi Black Noir
          //-   span.row__price €59
          //- .row
            span.row__name Chamberi Black Noir
            span.row__price €59

          .total
            .row.row__shipping
              span shipping
              span €0
            .row.row__total
              span total
              span €000000
        .total-price
          h2 €000000
        .payment
          input(type="button" value="Payment")