extends layout

block styles 
  link(rel='stylesheet', href='/stylesheets/index_style.css')

block content
  -
    function getFileNameFromImgURL(url) {
        let startIndex = url.indexOf('products/');
        let endIndex = url.indexOf('?v=');
        return url.slice(startIndex + 9, endIndex);
    }

  - 
    function getRandomNumArr(cnt, maxNum) {
      var productsNums = [];
      while (productsNums.length < cnt) {
        let randomInset = Math.random() * maxNum;
        let randomNum = Math.round(randomInset);
        if (!productsNums.includes(randomNum)) {
          productsNums.push(randomNum);
        }
      }
      return productsNums;
    }

  main
    section.glasses-section

      .glasses-section__card.card.card--1
        .card__inner.glasses-section__section-header
          svg.glasses(viewbox="0 0 1080 720" width="100%" height="100%")
            defs
              text#text_glasses(
                x="50%" 
                y="50%" 
                font-size="14em"
                font-weight="900"
                font-family="Avenir"
                text-anchor="middle" 
                alignment-baseline="central"
                fill="#6668e2"
              ) BARNER   

              filter#blur(x="-50%" y="-50%" width="200%" height="200%")
                feGaussianBlur(stdDeviation="10")

              mask#mask 
                image(href="../images/glasses_mask.png" x="50%" y="50%" width="70%" style="transform: translate(-35%, -20%)")

            ellipse(cx="32%" cy="67%" rx="80" ry="20" fill="#000" opacity="0.5" filter="url(#blur)")
            ellipse(cx="69%" cy="67%" rx="80" ry="20" fill="#000" opacity="0.5" filter="url(#blur)")
            use(href="#text_glasses" filter="url(#blur)")
            image(href="../images/glasses_origin.png" x="50%" y="50%" width="70%" style="transform: translate(-35%, -20%)")
            use(href="#text_glasses" mask="url(#mask)")
            image(href="../images/glasses_front.png" x="50%" y="50%" width="70%" style="transform: translate(-35%, -20%)")

      .glasses-section__card.card.card--2
        .card__inner
          .card__description-box
            p.description-box__description.description What are blue light glasses?<br/>
              | Blue light glasses are specifically designed to protect our eyes against overexposure to the artificial blue light that is emitted by our digital devices. Computer glasses help us to avoid the potential side effects of Computer Vision Syndrome and to ensure that our eyes feel rested after long hours in front of our screens.
          .card__image-box
            .line.line--horizontal
            .image-box__division
              .line.line--vertical 
              .img-wrap
                img(src="../images/chroma-man-woman-01_1200x.jpeg" alt="image")

      .glasses-section__card.card.card--3
        .card__inner
          .card__image-box
            .image-wrap
              img(src="../images/glasses/Ginza_Black_noir_etc_0.jpg" alt="image")
            .image-wrap
              img(src="../images/glasses/Ginza_Black_noir_model1-2.jpg" alt="image")
          .card__description-box
            p.description-box__description.description METAL GLASSES<br/>
              | Metal eyeglasses padded at the nose, for adaptability and comfort. The perfect choice for a chic and refined look. Super lightweight, available in five colors and two unique shapes.

      .glasses-section__card.card.card--4
        .glasses-section__inner
          .card__description-box 
            .line.line--horizontal
            p.description-box__description.description WHY SCREEN GLASSES<br/>
              | We live totally surrounded by screens, spending almost nine hours a day, on average, in front of digital devices. All these devices emit blue light, and since our eyes aren't protected against this overexposure, the light can be detrimental.
          .card__image-box
            .image-wrap
              img(src="../images/glasses/Dalston_Blue_tortoise_model2-1.jpg" alt="image")
            ul.keywords-wrap
              li.keywords__el
                .keywords__text.keywords_text--Better-focus Better focus
              li.keywords__el
                .keywords__text.keywords_text--Reduces-CVS Reduces-CVS
              li.keywords__el
                .keywords__text.keywords_text--Better-sleep-cycles Better sleep cycles

      .glasses-section__card.card.card--5
        .glasses-section__inner.glasses-section__horizontal-scroll-view

          each val in getRandomNumArr(5, glasses_data.length - 1)
            -
              let product = glasses_data[val]
              let fileName = product.productName.replace(" ", "_") + "_" + product.productColor.replace(" ", "_") + "_front.jpg";
              let productImgPath = "../images/glasses/" + fileName;
            .cell
              a.cell__inner(href="")
                .cell__image-wrap
                  img.cell__product-image(src=productImgPath, alt="")
                  .cell__image--hover-view
                    .hover-view
                      .hover-view__text SHOW DETAIL
                .cell__detail
                  .cell__detail--name #{product.productName}
                  .cell__detail--color #{product.productColor}
              

      .glasses-section__card.card.card--6
        .glasses-section__inner.glasses-section__footer 
          .glasses-section__top
            a.glasses-section__top--link(href="/products/Eyeglasses")
              p.link--paragraph Browse more glasses. There are a lot of bluelight glasses
              .link--image-wrap
                img.image--arrow(src="https://img.icons8.com/external-kmg-design-glyph-kmg-design/64/6668E2/external-right-arrow-arrows-kmg-design-glyph-kmg-design-1.png")
            .glasses-section__top--image-wrap
              .description-wrap
                p.description Discover classic round frames with a fresh twist thanks
          .glasses-section__bottom
            span.bottom__text.text--bluelight-glasses Bluelight Glasses
            span.bottom__text.text--barner Barner

    section.sunglasses-section
      .sunglasses-section__card.card.card--1
        .card__inner.sunglasses-section__section-header
          svg.sunglasses(viewbox="0 0 1080 720" width="100%" height="100%")
            defs
              text(
                id="text_sunglasses"
                x="50%" 
                y="50%" 
                font-size="14em"
                font-weight="900"
                font-family="Avenir"
                text-anchor="middle" 
                alignment-baseline="central"
              ) BARNER
              
              filter#text-blur
                feGaussianBlur(stdDeviation="10" x="-50%" y="-50%" width="200%" height="200%")

              filter#light-blur1
                feGaussianBlur(stdDeviation="15" x="-50%" y="-50%" width="200%" height="200%")

              filter#light-blur2
                feGaussianBlur(stdDeviation="25" x="-50%" y="-50%" width="200%" height="200%")

              mask#mask 
                image(href="../images/sunglasses_origin.png" x="50%" y="50%" width="70%" style="transform: translate(-35%, -20%);")

            ellipse(cx="32%" cy="67%" rx="80" ry="20" fill="#000" opacity="0.5" filter="url(#blur)")
            ellipse(cx="69%" cy="67%" rx="80" ry="20" fill="#000" opacity="0.5" filter="url(#blur)")
            use(href="#text_sunglasses" fill="#fffa87" filter="url(#light-blur2)")
            use(href="#text_sunglasses" fill="#fffa87" filter="url(#light-blur1)")
            use(href="#text_sunglasses" fill="#fff" filter="url(#text-blur)")
            image(href="../images/sunglasses_origin.png" x="50%" y="50%" width="70%" style="transform: translate(-35%, -20%);")
            use(href="#text_sunglasses" fill="#fff" style="mix-blend-mode: overlay;" mask="url(#mask)")
            image(href="../images/sunglasses_frame_nose.png" x="50%" y="50%" width="70%" style="transform: translate(-35%, -20%);")

      .sunglasses-section__card.card.card--2
        .card__inner
          .card__image-box
            .img-wrap
              img(src="../images/sunglasses/Recoleta_Sun_Silver_matte_model1-1.jpg" alt="image")
          .card__description-box
            .line.line--horizontal
            .description-box__division
              p.description-box__description.description.description--short New-in Sunglasses
              .line.line--vertical 
              .description-wrap
                p.description-box__description.description.description--long What are blue light glasses?<br/>
                  | Blue light glasses are specifically designed to protect our eyes against overexposure to the artificial blue light that is emitted by our digital devices. Computer glasses help us to avoid the potential side effects of Computer Vision Syndrome and to ensure that our eyes feel rested after long hours in front of our screens.
      
      .sunglasses-section__card.card.card--3 
        .card__inner 
          .card__description-box 
            .line.line--horizontal 
            .description-box__division
              h2.description-box__subtitle.subtitle WHY SCREEN GLASSES
              p.description-box__description.description We live totally surrounded by screens, spending almost nine hours a day, on average, in front of digital devices. All these devices emit blue light, and since our eyes aren't protected against this overexposure, the light can be detrimental.
          .card__image-box 
            .img-wrap 
              img(src="../images/sunglasses/Ginza_Sun_Black_noir_model1-2.jpg" alt="image")

      .sunglasses-section__card.card.card--4 
        .card__inner.product-grid-view
          - let randomNumsForSunglasses = getRandomNumArr(4, sunglasses_data.length - 1); 
          .grid-view.grid-view__vertical
            each val in [0, 1, 2]
              - 
                let product = sunglasses_data[val];
                let fileName = product.productName.replace(" ", "_") + "_" + product.productColor.replace(" ", "_") + "_front.jpg";
                let productImgPath = "../images/sunglasses/" + fileName;
              a.cell(href="")
                .cell__img-wrap 
                  img(src=productImgPath, alt="image")
                .cell__detail-wrap
                  .cell-detail 
                    .cell-detail__text.cell-detail__text--name #{product.productName}
                    .cell-detail__text.cell-detail__text--color #{product.productColor}
          .grid-view.grid-view__horizontal
            - 
              let product = sunglasses_data[3];
              let fileName = product.productName.replace(" ", "_") + "_" + product.productColor.replace(" ", "_") + "_front.jpg";
              let productImgPath = '../images/sunglasses/' + fileName;
            a.cell(href="")
              .cell__img-wrap.cell__img-wrap--horizontal
                img(src=productImgPath alt="image")
              .cell__detail-wrap
                .cell-detail
                  .cell-detail__text.cell-detail__text--name #{product.productName}
                  .cell-detail__text.cell-detail__text--color #{product.productColor}

      .sunglasses-section__card.card.card--6
        .sunglasses-section__inner.sunglasses-section__footer 
          .sunglasses-section__top
            a.sunglasses-section__top--link(href="/products/Sunglasses")
              p.link--paragraph Browse more glasses. There are a lot of sunglasses
              .link--image-wrap
                img.image--arrow(src="https://img.icons8.com/external-kmg-design-glyph-kmg-design/64/6668E2/external-right-arrow-arrows-kmg-design-glyph-kmg-design-1.png")
            .sunglasses-section__top--image-wrap
              .description-wrap
                p.description Round sunglasses have never been so stylish!
          .sunglasses-section__bottom
            span.bottom__text.text--bluelight-glasses Sunglasses
            span.bottom__text.text--barner Barner
    section.footer
      .footer__inner 
        .footer__top
          .footer__top--left
            h2 WE ARE A B CORP
            .paragraph-wrap
              p Social consciousness is at the core of Barner’s brand values, which is why we’re so proud to be a certified B corporation! Being a B Corp means that our company has been recognized for going above and beyond basic corporate social responsibility, and that our efforts are having a real impact globally.<br/><br/>
                | Companies can obtain B Corp status by completing a 200-questionnaire that assesses everything from company structure and working conditions to sustainability initiatives and community action.
          .footer__top--right
            .image-wrap 
              img(src="../images/glasses_icon.svg", alt="glasses")
        .line--horizontal
        .footer__bottom
          h2 Barner Barner