extends layout 

block styles 
  link(rel='stylesheet', href='/stylesheets/product_detail_style.css')

block content 
  -
    function getFileNameFromImgURL(url) {
      let startIndex = url.indexOf('products/');
      let endIndex = url.indexOf('?v=');
      return url.slice(startIndex + 9, endIndex);
    }

    let fileNamePrefix = product_data.productName.replace(" ", "_") + "_" + product_data.productColor.replace(" ", "_");
  .main
    .main__top 
      .top__inner
        .top__product.product 
          .product__image
            if category == "Eyeglasses"
              img(src="../../../images/glasses/" + fileNamePrefix + "_front.jpg", alt="image")
            else 
              img(src="../../../images/sunglasses/" + fileNamePrefix + "_front.jpg", alt="image")
          .product__shop
            .product__context
              .context__title
                h1.context__title--name=product_data.productName
                span.context__title--color=product_data.productColor
              .context__price
                if product_data.productDisCountedPrice
                    span.context__price--og-price=product_data.productPrice
                    span.context__price--price=product_data.productDisCountedPrice
                else
                    span.context__price--price=product_data.productPrice
            .product__description
              p High quality and stylish computer glasses to protect your eyes from Blue Light of digital devices. It will provide you with better sleep and a healthier life.
            .product__color-set.color-set
              .color-set__inner
                each color in product_data.colorSet
                  - let path = "../../../images/colorImages/" + color.replace(" ", "-") + ".png";
                  if color.toLowerCase() == product_data.productColor.toLowerCase()
                    .color__item.color__item--selected 
                      svg(viewbox="0 0 32 32" width="50px" hieght="50px")
                        image(href=path width="50px" height="50px" x="16px" y="16px" style="transform: translate(-25px, -25px)")
                  else
                    .color__item 
                      svg(viewbox="0 0 32 32" width="50px" hieght="50px")
                        image(href=path width="50px" height="50px" x="16px" y="16px" style="transform: translate(-25px, -25px)")
            .btn
              input.btn--add-to-cart(type="button" value="Add To Cart")
        .top__aside.aside
          .aside__inner 
            each index in [0, 1, 2]
              -
                let randomNum = Math.floor(Math.random() * product_data_list.length);
                let product = product_data_list[randomNum];
                let asideFileName = product.productName.replace(" ", "_") + "_" + product.productColor.replace(" ", "_") + "_front.jpg"
                let path = category == "Eyeglasses" ? "../../../images/glasses/" + asideFileName : "../../../images/sunglasses/" + asideFileName;
              .another-product
                img(src=path, alt="image")
    .line--divider
    .main__body
      .body__section
        .description
          .paragraph-wrap
            p!= product_data.asides.join("<br/><br/>")
          .line--horizontal
        .img-wrap
          if category == "Eyeglasses"
            - let sideImgUrl = "../../../images/glasses/" + fileNamePrefix + "_side.jpg";
            img(src=sideImgUrl, alt="")
          else
            - let sideImgUrl = "../../../images/sunglasses/" + fileNamePrefix + "_model1-1.jpg";
            img(src=sideImgUrl, alt="")

      .body__section
        .img-wrap
          if category == "Eyeglasses"
            - let upAngleImgUrl = "../../../images/glasses/" + fileNamePrefix + "_upAngle.jpg";
            svg(viewbox="0 0 1240 1240")
              image(href=upAngleImgUrl)
              circle(cx="500" cy="500" r="16" fill="#6668e2")
          else
            - let upAngleImgUrl = "../../../images/sunglasses/" + fileNamePrefix + "_upAngle.jpg";
            svg(viewbox="0 0 1240 1240")
              image(href=upAngleImgUrl)
          
        .description
          .list-wrap 
            ul 
              each spec in product_data.additionalInfo
                li= spec.title
                  span  : 
                  span= spec.constents


      .body__section
        if category == "Eyeglasses"
          .grid.grid--left
            - let packageImgUrl = "../../../images/glasses/" + fileNamePrefix + "_package.jpg";
            img(src= packageImgUrl, alt="")

        .grid.grid--right
          - let aaa = category == "Eyeglasses" ? "../../../images/glasses/" + fileNamePrefix : "../../../images/sunglasses/" + fileNamePrefix;

          img(src=aaa + "_model1-1.jpg", alt="")
          img(src=aaa + "_model2-1.jpg", alt="")
          img(src=aaa + "_model1-2.jpg", alt="")
          img(src=aaa + "_model2-2.jpg", alt="")
  section.main__footer
      a(href="/") Back to Main