extends layout 

block styles 
  link(rel='stylesheet', href='/stylesheets/product_detail_style.css')

block scripts 
  script(src="/javascripts/product_detail_script.js")

block content 
  script let product_data = !{JSON.stringify(product_data)}; let productType = "#{category}";

  -  let fileNamePrefix = product_data.productName.replace(" ", "_") + "_" + product_data.productColor.replace(" ", "_");
  .main
    .main__top 
      .top__inner
        .top__product.product 
          .product__image
            img(src="../../../images/glasses/" + fileNamePrefix + "_front.jpg", alt="image")
          .product__shop
            .product__context
              .context__title
                span.context__title--name=product_data.productName
                span.context__title--color=product_data.productColor
              .context__price
                if product_data.productDisCountedPrice
                    span.context__price--og-price=product_data.productPrice
                    span.context__price--price=product_data.productDisCountedPrice
                else
                    span.context__price--price=product_data.productPrice
            .product__description
              p High quality and stylish computer glasses to protect your eyes from Blue Light of digital devices. It will provide you with better sleep and a healthier life.
            .product__color-set.color-set
              .color-set__inner
                each color in product_data.colorSet
                  - let path = "../../../images/colorImages/" + color.replace(" ", "-") + ".png";
                  
                  if color.toLowerCase() == product_data.productColor.toLowerCase()
                    a.color__item.color__item--selected(href="") 
                      svg(viewbox="0 0 32 32" width="100%" hieght="100%")
                        image(href=path width="50px" height="50px" x="16px" y="16px" style="transform: translate(-25px, -25px)")
                  else
                    - let link = "/product/" + category + "/" + product_data.productName.replace("í", "i").replace(" ", "_") + "/" + color.replace(" ", "_");
                    a.color__item(href=link)
                      svg(viewbox="0 0 32 32" width="100%" hieght="100%")
                        image(href=path width="50px" height="50px" x="16px" y="16px" style="transform: translate(-25px, -25px)")
            .btn
              input.btn--add-to-cart(type="button" value="Add To Cart")
        .top__aside.aside.flex--center
          .aside__inner 
            each index in [0, 1, 2]
              -
                let randomNum = Math.floor(Math.random() * product_data_list.length);
                let product = product_data_list[randomNum];
                let asideFileName = product.productName.replace(" ", "_") + "_" + product.productColor.replace(" ", "_") + "_front.jpg"
                let path = "../../../images/glasses/" + asideFileName;
                let link = "/product/" + category + "/" + product.productName.replace("í", "i").replace(" ", "_") + "/" + product.productColor.replace(" ", "_");
              a.another-product(href=link)
                img(src=path, alt="image")
    .line--divider
    .main__body
      .body__section
        .description
          .paragraph-wrap
            p!= product_data.asides.join("<br/><br/>")
          .line--horizontal
        .img-wrap.fade-in.fade-in--slide-up
          - 
            let sideImgUrl = "../../../images/glasses/" + fileNamePrefix + "_side.jpg";
            let spareImgUrl = "../../../images/glasses/" + fileNamePrefix + "_etc_0.jpg";
          img(src=sideImgUrl, alt="" onerror="this.src='" + spareImgUrl + "'")

      .body__section
        .img-wrap
          - 
            let upAngleImgUrl = "../../../images/glasses/" + fileNamePrefix + "_upAngle.jpg";
            let lensMaterial = product_data.additionalInfo.filter(x => x.title == "Lens Material")[0].contents;
            let frameMaterial = product_data.additionalInfo.filter(x => x.title == "Frame Material")[0].contents;
          svg(viewbox="0 0 1240 1240")
            image(href=upAngleImgUrl).fade-in.fade-in--slide-up
            g.fade-in.fade-in--slide-up
              circle(cx="220" cy="640" r="16" fill="#6668e2")
              path(d="M220 640 l 100 400 h 200" fill="none" stroke="#6668e2" stroke-width="2")
              text(x="336" y="1024" font-size="3em" font-family="Avenir" font-weight="900" fill="#6668e2")= lensMaterial

            if frameMaterial.includes("/")
              -
                let frontMat = frameMaterial.match(/(?<=- ).+(?= \/)/g); 
                let templesMat = frameMaterial.match(/(?<=: ).+/g);
              g.fade-in.fade-in--slide-up
                circle(cx="640" cy="456" r="16" fill="#6668e2")
                path(d="M640 456 l 80 -160 h 200" fill="none" stroke="#6668e2" stroke-width="2")
                text(x="736" y="280" font-size="3em" font-family="Avenir" font-weight="900" fill="#6668e2")= templesMat
              g.fade-in.fade-in--slide-up
                circle(cx="690" cy="700" r="16" fill="#6668e2")
                path(d="M690 700 l 50 200 h 200" fill="none" stroke="#6668e2" stroke-width="2")
                text(x="756" y="884" font-size="3em" font-family="Avenir" font-weight="900" fill="#6668e2")= frontMat
            else
              g.fade-in.fade-in--slide-up
                circle(cx="220" cy="640" r="16" fill="#6668e2")
                path(d="M220 640 l 100 400 h 200" fill="none" stroke="#6668e2" stroke-width="2")
                text(x="336" y="1024" font-size="3em" font-family="Avenir" font-weight="900" fill="#6668e2")= lensMaterial
              g.fade-in.fade-in--slide-up
                circle(cx="690" cy="700" r="16" fill="#6668e2")
                path(d="M690 700 l 50 200 h 200" fill="none" stroke="#6668e2" stroke-width="2")
                text(x="756" y="884" font-size="3em" font-family="Avenir" font-weight="900" fill="#6668e2")= frameMaterial
          
        .description
          .list-wrap 
            ul 
              each spec in product_data.additionalInfo
                li= spec.title
                  span  : 
                  span= spec.contents

      .body__section
        .grid.grid--left.fade-in.fade-in--slide-up
          - let packageImgUrl = category == "Eyeglasses" ? "../../../images/glasses/" + fileNamePrefix + "_package.jpg" : "../../../images/glasses/" + fileNamePrefix + "_front.jpg";
          img(src= packageImgUrl, alt="")

        .grid.grid--right.fade-in.fade-in--slide-up
          - let imgPath = "../../../images/glasses/" + fileNamePrefix;

          img(src=imgPath + "_model1-1.jpg", alt="")
          img(src=imgPath + "_model2-1.jpg", alt="")
          img(src=imgPath + "_model1-2.jpg", alt="")
          img(src=imgPath + "_model2-2.jpg", alt="")
  section.main__footer.flex--center
      a(href="/") Back to Main