extends layout 

block styles 
  link(rel='stylesheet', href='/stylesheets/products_style.css')

block scripts 
  script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js")
  script(src="/javascripts/products_script.js")

block content 
  script let productList = !{JSON.stringify(product_data)}; let title = "#{title}";
  -
    function sortOption(x, y, optionIndex) {
      switch (optionIndex) {
        case 0:
          return () => { if (x.productName > y.productName) { return 1 } else { return -1 } }
        case 1: 
          return () => { if (x.productName < y.productName) { return 1 } else { return -1 }} 
        case 2:
          let a1 = x.productDisCountedPrice != "" ? x.productDisCountedPrice : x.productPrice;
          let b1 = y.productDisCountedPrice != "" ? y.productDisCountedPrice : y.productPrice;
          return () => { if (a1 > b1) { return 1 } else { return -1 }}
        case 3: 
          let a2 = x.productDisCountedPrice != "" ? x.productDisCountedPrice : x.productPrice;
          let b2 = y.productDisCountedPrice != "" ? y.productDisCountedPrice : y.productPrice;
          return () => { if (a2 < b2) { return 1 } else { return -1 }};
        default: 
          return () => {return 1};
      }
    }

  mixin arrow(isUp)
    if isUp
      svg.option__img.option__img--arrow-up(width="80" height="80" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg")
        path(d="M10 38C8.89543 38 8 38.8954 8 40C8 41.1046 8.89543 42 10 42V38ZM71.4142 41.4142C72.1953 40.6332 72.1953 39.3668 71.4142 38.5858L58.6863 25.8579C57.9052 25.0768 56.6389 25.0768 55.8579 25.8579C55.0768 26.6389 55.0768 27.9052 55.8579 28.6863L67.1716 40L55.8579 51.3137C55.0768 52.0948 55.0768 53.3611 55.8579 54.1421C56.6389 54.9232 57.9052 54.9232 58.6863 54.1421L71.4142 41.4142ZM10 42L70 42V38L10 38V42Z" fill="#6668E2")

    else
      svg.option__img.option__img--arrow-down(width="80" height="80" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg")
        path(d="M10 38C8.89543 38 8 38.8954 8 40C8 41.1046 8.89543 42 10 42V38ZM71.4142 41.4142C72.1953 40.6332 72.1953 39.3668 71.4142 38.5858L58.6863 25.8579C57.9052 25.0768 56.6389 25.0768 55.8579 25.8579C55.0768 26.6389 55.0768 27.9052 55.8579 28.6863L67.1716 40L55.8579 51.3137C55.0768 52.0948 55.0768 53.3611 55.8579 54.1421C56.6389 54.9232 57.9052 54.9232 58.6863 54.1421L71.4142 41.4142ZM10 42L70 42V38L10 38V42Z" fill="#6668E2")

  main.main
    - let isEyeglasses = title == "Eyeglasses"; 
    section.main__top.top
      .top__image.flex--center
        if isEyeglasses
            img.top__image--glasses(src="../images/svg/glasses_icon_blue.svg", alt="image")
        else
            img.top__image--glasses(src="../images/svg/sunglasses_icon_blue.svg", alt="image")
      .top__context
        h2.context__text.context__text--head #{isEyeglasses ? "BLUE LIGHT BLOCKING GLASSES" : "Sunglasses"}
        p.context__text.context__text--paragraph #{isEyeglasses ? "Keep your eyes protected while being completely stylish at it." : "Soak up some sun with our UVA & UVB protection sunglasses collection!"}
        

    section.main__body.body
      .body__inner
        .body__nav
          svg.nav__btn--sort(width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
            path(d="M13.5 16.5L14.5605 15.4395L17.25 18.129V3H18.75V18.129L21.4395 15.4395L22.5 16.5L18 21L13.5 16.5Z" fill="#6668E2")
            path(d="M1.5 4.5H12V6H1.5V4.5Z" fill="#6668E2")
            path(d="M4.5 9H12V10.5H4.5V9Z" fill="#6668E2")
            path(d="M7.5 13.5H12V15H7.5V13.5Z" fill="#6668E2")

          .option-wrap.folded
            ul.option
              li.option__item.flex--center.option__item--selected(data-index="0")
                span.option__text ABC 
                + arrow(false)
              li.option__item.flex--center(data-index="1")
                span.option__text ABC 
                + arrow(true)
              li.option__item.flex--center(data-index="2")
                span.option__text Price 
                + arrow(false)
              li.option__item.flex--center(data-index="3")
                span.option__text Price 
                + arrow(true)
      .body__products-list
        //- .products-list__inner 
          //- - let test = product_data.sort((x, y) => sortOption(x, y, selectedIndex));
          //- each product in test
          //-   - let path = "/product/" + title + "/" + product.productName.replace("í", "i").replace(" ", "_") + "/" + product.productColor.replace(" ", "_");
          //-   .cell.flex--center
          //-     a.cell__link(href=path) 
          //-       -
          //-         let fileName = product.productName.replace(" ", "_") + "_" + product.productColor.replace(" ", "_") + "_front.jpg";

          //-       if title == "Eyeglasses"
          //-         img.cell__product-img(src="../images/glasses/" + fileName, alt="")
          //-       else
          //-         img.cell__product-img(src="../images/sunglasses/" + fileName, alt="")

          //-       .cell__context 
          //-         span.context__text.context__text--name #{product.productName}
          //-         span.context__text.context__text--price #{product.productPrice}
          //-         span.context__text.context__text--color #{product.productColor}

    section.main__footer.flex--center
      a(href="/") Back to Main